<p>Tarefas</p>

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
  </div>
</form>

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Título</th>
      <th>Descrição</th>
      <th>Status</th>
      <th>Data de criação</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngFor="let tarefa of tarefasData">
    <td>
      {{tarefa.id}}
    </td>
    <td>
      {{tarefa.title}}
    </td>
    <td>
      {{tarefa.description}}
    </td>
    <td>
      {{tarefa.status}}
    </td>
    <td>
      {{tarefa.createdAt}}
    </td>
    <td>
      <button class="btn btn-outline-primary">Editar</button>
      <button class="btn btn-outline-danger">Excluir</button>
    </td>
  </tbody>
</table>

