<p>Tarefas</p>

<!-- <ul *ngFor="let tarefa of tarefasData">
  <li>
    <b>{{tarefa.id}}</b>
    <b>{{tarefa.title}}</b>
    {{tarefa.description}}
    {{tarefa.status}}
    {{tarefa.createdAt}}

    <hr>
  </li>
</ul> -->

<form action="" class="form-inline">
  <div class="form-group mb-2">
    <input type="text" class="form-control mr-2" placeholder="buscar">
    <button class="btn btn-outline-success"></button>
  </div>
</form>

<table *ngFor="let tarefa of tarefasData" class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Titulo</th>
      <th>Descriçao</th>
      <th>Status</th>
      <th>Data de criaçao</th>
      <th>Opçoes</th>
    </tr>
  </thead>
  <tbody>
    <tr>{{tarefa.id}} </tr>
    <tr>{{tarefa.title}}</tr>
    <tr>{{tarefa.description}}</tr>
    <tr>{{tarefa.date}}</tr>
    <tr></tr>
  </tbody>
</table>

